.advice {
	line-height: 19px;
	font-size: 13px;
	letter-spacing: -1px;
	color: #666;
	word-break: keep-all;
}

.info-container {
	display:flex;
	min-height:700px;
	flex-direction:column;
	padding-left:300px;
	padding-right:300px;
	padding-bottom:50px;
}

#mypage-nav {
	border-bottom: 4px solid #58AF9E;
    padding-bottom: 8px;
}