@charset "UTF-8";

#side_menu {
   margin-top: 2.5rem;
}

.fa-heart:hover::after {
   color:black;
}
span.search_style {
   margin-right:0.95rem;   
}

#detailSearch {
   padding : 1rem 3rem 0rem 3rem;
}
#detailSearch > li {
   padding:1rem 0rem 0rem 0rem;
}

#detailSearch > li > label {
   margin-right : 0.5rem;
   margin-left : 0.2rem;
}
   

#detailSearch_button {
   padding:1rem 0rem 1rem 0rem;
   text-align:center;
}

#detailSearch_button > button {
   margin-top : 1rem;
   width:20%;
}
/* ---------------------------------------------- */
aside {
   width: 100px;
   height: 700px;
   background-color: #transparent;
   margin-right: .05rem solid #e5e5e5;
}

.aside_wrap {
   width: 150px;
   height: 30px;
   background-color: transparent;
   display: inline-block;
}

.list-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: flex-start;
}

.list-box-size {
   width: 350px;
   height: 350px;
}

.list-box-overflow {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
   height: 30px;
}

.fav_green {
   color: green;
   cursor: pointer;
}

.fav_black {
   color: grey;
   cursor: pointer;
}

span.search {
   margin-right:2rem;
}

.clickCheckbox {
   cursor: pointer;
   -ms-user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   
}

.fa-arrow-circle-up {
   position: fixed;
   top:93%;
   right:2%;
   z-index:5;
   color:grey;
   cursor:pointer 
}

#location-nav {
	border-bottom: 4px solid #58AF9E;
    padding-bottom: 8px;
}