<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
   namespace="com.explorer.routemap.myfar.mapper.MyFavoriteLocationSQLMapper">
   <!-- 관심 장소 목록 - 전체 -->
   <select id="selectByMemberNo"
      resultType="com.explorer.routemap.board.vo.LocationboardVo">
   <![CDATA[
   SELECT * 
   FROM
        (SELECT rownum rnum, t1.*
         FROM
              (SELECT * 
               FROM RM_LC_Myfavorite
               WHERE member_no=#{member_no}
               ORDER BY locationboard_no DESC) t1) t2
   WHERE t2.rnum >= (#{currPage}-1)*12+1 AND t2.rnum <= (#{currPage}-1)*12+12
   ]]>
   </select>

   <!-- 관심 장소 목록 - 여행지 or 맛집 -->
   <select id="selectByLocationboardNoAndCategoryNo"
      resultType="com.explorer.routemap.board.vo.LocationboardVo">
   <![CDATA[
   
   SELECT * 
   FROM
        (SELECT rownum rnum, t1.*
         FROM
            (SELECT * 
            FROM RM_Locationboard
            WHERE locationboard_no = #{locationboard_no}
            AND location_category_no = #{location_category_no}
            ORDER BY locationboard_no DESC) t1) t2
   WHERE t2.rnum >= (#{currPage}-1)*12+1 AND t2.rnum <= (#{currPage}-1)*12+12
   ]]>
   </select>
</mapper>