@charset "UTF-8";

div {
	padding:1rem;
}

.footer{
    left: 0;
    bottom: 0;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	background-color: #1b1c1d;
	color:#CBCBCB;
	font-size:0.8rem;
	width: 100%;
	min-height: 14.8vh;
	margin:0;
}

.footer-content {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	padding:0;
	margin:0;
}

.footer-margin {
	margin-right:2rem;
}
.footer-margin:nth-child(1) {
	margin-left:2rem;
}