<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayside.vacation.member.mapper.MemberMapper">
	<!-- 가입자 정보 조회 -->
	<select id="selectAllMember" resultType="Member">
    	SELECT * FROM DAYSIDE_MEMBER
	</select>
	<!-- 회원 가입 -->
	<insert id="insertMemberInfo">
	<![CDATA[
		INSERT INTO DAYSIDE_MEMBER 
		VALUES(
				#{employeeNo}, 
				#{emailId}, 
				#{fullname}, 
				#{pw}, 
				#{hashSalt}, 
				#{team}, 
				#{leaderYn}, 
				#{adminYn}, 
				SYSDATE, 
				'JOIN_REQUEST')
	]]>
	</insert>
	<!-- 동일한 아이디 확인(리턴타입 Member) -->
	<select id="selectId" resultType="Member">
	<![CDATA[
		SELECT * FROM DAYSIDE_MEMBER
		WHERE EMAIL_ID = #{emailId}
	]]>
	</select>
	<!-- 로그인 
	<select id="selectOneMember" resultType="Member">
	<![CDATA[
    	SELECT * 
    	FROM DAYSIDE_MEMBER
		WHERE EMAIL_ID = #{emailId}
		AND PW = #{pw}
    ]]>
	</select>-->
	<!-- 사번 중복 확인 -->
	<select id="selectEmployeeNo" resultType="String">
	<![CDATA[
		SELECT EMPLOYEE_NO FROM DAYSIDE_MEMBER
		WHERE EMPLOYEE_NO = #{employeeNo}
	]]>
	</select>
	<!-- 아이디 중복 확인(리턴타입 String) -->
	<select id="selectEmailId" resultType="String">
	<![CDATA[
		SELECT EMAIL_ID FROM DAYSIDE_MEMBER
		WHERE EMAIL_ID = #{emailId}
	]]>
	</select>
	<!-- 소속팀명 조회 -->
	<select id="selectAllTeam" resultType="String">
		SELECT TEAM FROM DAYSIDE_MEMBER
	</select>
</mapper>


















