@charset "UTF-8";

aside {
   width: 100px;
   height: 700px;
   background-color: #transparent;
   margin-right: .05rem solid #e5e5e5;
}

.aside_wrap a{
   width: 150px;
   height: 30px;
   color: #555555; margin-top : 18px;
   background-color: transparent;
   display: inline-block;
   margin-top: 10px;
}

.list-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: flex-start;
}

.list-box-size {
   width: 350px;
   height: 250px;
}

.list-box-overflow {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 180px;
   height: 30px;
}

.button {
   margin-bottom:0;
}
.button a{
   color: #999999;
   margin:0px;
   font-size:13px;
}

.padding {
   padding-bottom:0px;
}
/*
.button-size {
   margin-left:20px;
}*/

#my-nav {
	border-bottom: 4px solid #58AF9E;
    padding-bottom: 8px;
}